<!DOCTYPE html>
<html>
<head>
  <title>Unbrewd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel='shortcut icon' href='http://res.cloudinary.com/dfmvfna21/image/upload/v1478850213/favicon_n15ga9.ico' type='image/x-icon'/ >

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100095340-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

  <script id="bootstrap-current-user" type="text/javascript">
    <% if signed_in? %>
    	window.currentUser = <%= render("api/users/user.json.jbuilder",
    		user: current_user).html_safe %>
    <% end %>
  </script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      cropping: 'server',
      cropping_aspect_ratio: 1,
      theme: 'minimal',
      resource_type: 'image',
      max_image_width: 1000
    };
  </script>
  <script type="text/javascript">
    window.cloudinary_cover_options = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      cropping: 'server',
      cropping_aspect_ratio: 3.3,
      theme: 'minimal',
      resource_type: 'image',
      max_image_width: 1000
    };
  </script>

<%= yield %>

</body>
</html>
